# Exercicios básicos de pandas: creación, visualización, selección e filtrado

Neste caderno atoparás exercicios prácticos organizados en catro seccións:
- **Creación de Series e DataFrames**
- **Visualización de datos**
- **Selección de datos**
- **Filtrado de datos**

Cada exercicio vai seguido dunha cela de código baleira para que escribas a túa solución.
## Importacións necesarias

In [ ]:
# TODO

## Creación de Series e DataFrames

**Exercicio 1.** Crea unha `pd.Series` cos valores `[100, 200, 300]` e índices `['x','y','z']`.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 2.** Crea un `DataFrame` a partir dun diccionario con columnas `produto` e `prezo`.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 3.** Crea un `DataFrame` a partir dunha lista de listas con 3 filas e 2 columnas.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 4.** Crea `DataFrame` chamado **df_penguins** a partir do arquivo `penguins.csv`, situado en `~/work/data`.

In [ ]:
# TODO: escribe aquí a túa solución

## Visualización de datos

**Exercicio 1.** Amosa os tipos das columnas de **df_penguins**

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 2.** Amosa as 5 primeiras liñas de `df_penguins`

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 3.** Amosa as principais medidas estatísticas de `df_penguins`.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 4.** Amosa o *DataFrame* `penguins_df`ordeado descendentemente por `bill_length_mm`

In [ ]:
# TODO: escribe aquí a túa solución

## Selección de datos

**Exercicio 1.** Selecciona a segunda fila de `df_penguins` usando `iloc`.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 2.** Selecciona a columna `body_mass_g` de `df_penguins` polo seu nome.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 3.** Obtén un subconxunto con varias columnas (por exemplo, `species` e `sex`).

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 4.** Selecciona varias filas consecutivas (1-5) usando un rango con `loc`.

In [ ]:
# TODO: escribe aquí a túa solución

## Filtrado de datos

**Exercicio 1.** Para `df_penguins` filtra só as filas con `bill_length_mm >= 40`.

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 2.** Amosa os pinguinos de sexo masculino con `flipper_length_mm` inferior a 200

In [ ]:
# TODO: escribe aquí a túa solución

**Exercicio 3.** Emprega `isin()` para amosar só as filas correspondents ás illas 'Dream' e 'Biscoe'

In [ ]:
# TODO: escribe aquí a túa solución