# Exercicios básicos de pandas: creación, visualización, selección e filtrado

Neste caderno atoparás exercicios prácticos organizados en catro seccións:
- **Creación de Series e DataFrames**
- **Visualización de datos**
- **Selección de datos**
- **Filtrado de datos**

Cada exercicio vai seguido dunha cela de código baleira para que escribas a túa solución.
## Importacións necesarias

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

## Modificación de valores dun DataFrame

**Exercicio 1.** Crea un `DataFrame` a partir do ficheiro `penguins.csv` situado no directorio `~/work/data`n. Engade unha columna chamada `tipo` co valor `pingüino`

In [ ]:
# Solución aquí

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,tipo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,pinguino
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,pinguino
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,pinguino
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,pinguino
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,pinguino
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,pinguino
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,pinguino
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,pinguino
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,pinguino
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,pinguino

**Exercicio 2.** Crea unha nova columna chamada `tamaño` co valor `"pequeno"` se o valor de `body_mass_g`é inferior a `4000` é `"grande"` en caso contrario

In [ ]:
# Solución aquí

**Exercicio 3.** Crea unha nova columna chamada `bill_length_in` que conterá o valor de `bill_length_mm` pasado a pulgadas, é dicir, dividindo entre `25,4`

In [ ]:
# Solución aquí

## Tratamento de valores ausentes

**Exercicio 1.** Crea un `DataFrame` chamado `df_penguins2` a parti de `df_penguins`  que elimine todas as filas con valor `NaN`.

In [ ]:
# Solución aquí

**Exercicio 2.** Crea un `DataFrame` chamado `df_penguins3` a parti de `df_penguins`  quque substitúa cada valor `NaN` polo inmediatamente superior.

In [ ]:
# Solución aquí

**Exercicio 3.** Amosa un novo `DataFrame` que amose o valor `True` para as celas con valor `NaN` en `df3` e `False` en caso contrario

In [ ]:
# Solución aquí

**Exercicio 4.** Amosa as filas de `df_penguins` que teñen valor nula na columna `bill_depth_mm`

In [ ]:
# Solución aquí

**Exercicio 5.** Conta cantos valores nulos hai na columna `bill_depth_mm` de `df_penguins`

In [ ]:
# Solución aquí

## Operacións estatísticas e agregacións

**Exercicio 1.** Amosa os principais valores estadísticos para o `DataFrame` `df_penguins`.

In [ ]:
# Solución aquí

**Exercicio 2.** Amosa só a media para as columnas numéricas do `DataFrame` `df_penguins`.

In [ ]:
# Solución aquí

**Exercicio 3.** Amosa cantos exemplares hai de cada especie (`species`).

In [ ]:
# Solución aquí

 **Exercicio 4.** Modifica `df_penguins` para que a columna `sex` teña os valores en minúsculas.

In [ ]:
# Solución aquí

 **Exercicio 5.** Calcula peso medio (`body_mass_g`) para cada especie (`species`)

In [ ]:
# Solución aquí

 **Exercicio 6.** Calcula a media e a desviación estándar sobre o peso (`body_mass_g`) agrupando por especie (`species`). Recomendación: emprega a función `agg`.

In [ ]:
# Solución aquí

 **Exercicio 7.** As principais medidas estatísticas para todas as columnas agrupando por especie (`species`).

In [ ]:
# Solución aquí

 **Exercicio 8.** Agrupando por illa (`island`), calcula:
 - O número de pingüinos.
 - O peso medio.
 - A porcentaxe de individuos de cada especie

In [ ]:
# Solución aquí

 **Exercicio 9.** Agrupa por especie e calcula a correlación entre `bill_length_mm` e `body_mass_g`

In [ ]:
# Solución aquí

## Combinación de datos de varias táboas

 **Exercicio 1.** Crea o seguinte `DataFrame`:
 ```python
islas_info = pd.DataFrame({
    "island": ["Biscoe", "Dream", "Torgersen"],
    "area_km2": [60, 100, 1],
    "habitat": ["rochosas", "neve e xeo", "costa pequena"]
})
Úneo a `penguins_df` empregando a columna `island`.

```

In [ ]:
# Solución aquí

 **Exercicio 2.** Crea o seguinte `DataFrame`:
 ```python
especies_info = pd.DataFrame({
    "species": ["Adelie", "Gentoo", "Chinstrap"],
    "alimentacion": ["peixe", "krill", "mixta"],
    "estado_conservacion": ["Preocupación menor", "Preocupación menor", "Vulnerable"]
})
```

Fai un `merge` para engadir a columna de estado de conservación e despois calcula o peso medio segundo dita variable.

In [ ]:
# Solución aquí

**Exercicio 3**. Crea o seguinte `DataFrame`:
```python
novas = pd.DataFrame([
    {
        "species": "Adelie",
        "island": "Dream",
        "bill_length_mm": 40.1,
        "bill_depth_mm": 18.5,
        "flipper_length_mm": 195.0,
        "body_mass_g": 3650.0,
        "sex": "male",
        "year": 2008,   # se a túa versión non ten 'year', quítao desta dict
    },
    {
        "species": "Gentoo",
        "island": "Biscoe",
        "bill_length_mm": 48.3,
        "bill_depth_mm": 14.9,
        "flipper_length_mm": 220.0,
        "body_mass_g": 5100.0,
        "sex": "female",
        "year": 2008,
    },
])
```

Concátenao a `penguins_df` e amosa o resultado

In [ ]:
# Solución aquí

## Reestruturación de DataFrames

**Exercicio 1**. Pasa as columnas `bill_length_mm`, `bill_depth_mm`, `flipper_length_mm` e `body_mass_g` de `df_penguins` a formato longo almacenándoo como un novo `DataFrame` chamado `penguins_long`.

In [ ]:
# Solución aquí

**Exercicio 2**. Partindo do `long` do exercicio anterior, obtén os 3 rexistros con maior valor por cada species e medida. (`groupby`, `head`, etc.).

In [ ]:
# Solución aquí

**Exercicio 3**. Agrupa por `island` e `sex` e conta empregando `size()`.A partir do resultado, crea un `DataFrame` en formato ancho (`unstack`) chamado `wide`. A partir de `wide` crea outro `DataFrame` en formato longo chamado `long`.

In [ ]:
# Solución aquí

**Exercicio 4**. Agupando por `species` e `sex`, calcula a media para `body_mass_g` *desapilada*. Despois, apílaa e amosa as dúas versións.

In [ ]:
# Solución aquí

**Exercicio 5**. A partir de `penguins_long` crea un novo `DataFrame` en formato *ancho* denominado `resultado`. Emprega `species`como índice, obtén as columnas de `sex`, os valores de `valor` e agrega por media.

In [ ]:
# Solución aquí

In [ ]:
# Solución aquí

## Series temporais e datos categóricos

**Exercicio 1**. A partir do `DataFrame` `df_penguins` engade unha columna `date` da seguinte maneira:
```python
base = {"Biscoe": "2007-01-01", "Dream": "2008-01-01", "Torgersen": "2009-01-01"}

penguins_date = df_penguins.copy()
penguins_date["date"] = pd.to_datetime(penguins_date["island"].map(base)) + \
               pd.to_timedelta(penguins_date.groupby("island").cumcount(), unit="D")
```
Calcula a media mensaul para `body_mass_g`

In [ ]:
# Solución aquí

**Exercicio 2**. Crea una copia de `df_penguins` chamada `penguins_c` e fai as seguintes operacións:
- Define a orde das especies ( `["Adelie", "Chinstrap", "Gento"]`. 
- Converte `species` nun **campo categórico ordeado**. 
- Converte `sex` nun **campo categórico sen orde**. 
- Ordena primeiro por `species` e despois por `island`. Amosa as 5 primeiras filas.
- Amosa o resultado

In [ ]:
# Solución aquí

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,tipo
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,FEMALE,pinguino
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,MALE,pinguino
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,FEMALE,pinguino
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,MALE,pinguino
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,MALE,pinguino

**Exercicio 3**. Almacena o ´DataFrame´ ´penguins_c´ do exercicio anterior en formato **parquet** no ficheiro `../data/penguins_cat.parquet`. Despois le dito arquivo a un `DataFrame` `novo` e amosa o seu contido.

In [ ]:
# Solución aquí

species              category
island                 object
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
tipo                   object
dtype: object

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,tipo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,pinguino
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,pinguino
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,pinguino
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,pinguino
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,pinguino
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,pinguino
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,pinguino
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,pinguino
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,pinguino
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,pinguino